<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729866818018-bm42o36r51dijc6746oiqj7qb93ouohd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729866818018-bm42o36r51dijc6746oiqj7qb93ouohd</string>
	<key>API_KEY</key>
	<string>AIzaSyDS51GSmcCFS7FlvLjYVkfhzrzSRryRJGw</string>
	<key>GCM_SENDER_ID</key>
	<string>729866818018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snoBizApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sno-project</string>
	<key>STORAGE_BUCKET</key>
	<string>sno-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729866818018:ios:fab7035de4e1b073fce9bb</string>
	<key>DATABASE_URL</key>
	<string>https://sno-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>